.App {
 background-color: #e9c56aa1;
 color: #264653;
}

.App-logo {
  margin: 2rem;
  height: 10vmin;
  width: 10vmin;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}

.App-header {
  background-color: #fa6945ab;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  
  font-size: calc(100px + 2vmin);
  color: #264653;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.App-link {
  color: #2a9d8f;
}

form{
  padding: 1rem;
}

.storieslist-div{
  padding: 1rem;
}

.story-div{
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #f4a261;
  border-radius: 0.5rem;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}



label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

.search-button {
  color: #264653;
  width: 20rem;
  padding: 10px 30px;
}

.submit-button{
  color: #264653;
  background-color: #2a9d8f;
  border: none;
  padding: 10px 30px;
}


